:root{
    --colorNegro: #232925;
    --colorFondo: #101411;      /* color negro tomado de github toolkit */
    --colorVerdeGit1: #0FBF3E;
    --colorVerdeGit2: #8CF2A6;
    --colorVerdeGit5: #08872B;
    --colorBlancoGris: #F2F5F3;
}

@media screen and (max-width: 768px) {
    .contenedor{
        display: block;
        padding: 2.5rem;
    }
    .contenedor_img_perfil img{
        max-width: 85%;
    }

    .contenedor_sobremi{
        padding: 2.5rem 2.5rem 0 2.5rem;
    }

    .contenedor_img_perfil, .contenedor_info_perfil{
        padding: 0;
    }
    .contenedor_img_perfil{
        text-align: center;
    }
    .contenedor_info_perfil{
        margin-top: 5rem;
    }

    .contenedor_tecnologias_leg{
        display: grid;
        /* justify-content: center; */
        grid-template-columns: repeat(2, 1fr);
    }

    .contenedor_proyect{
        padding: 2.5rem 2.5rem 1rem 2.5rem;
    }

    .contenedor_proyectos{
        grid-template-columns: repeat(1, 1fr);
    }
}